*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan' sans-serif;
}
#product1{
  text-align: center;
  margin-top: 50px;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  margin: 100px;
  margin-top: 0px;
}
#product1 .pro{
  width: 23%;
  min-height: 60px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img{
 width: 100%;
 border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 12px;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  /* padding-top: 7px; */
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i{
  /* font-size: 12px; */
  /* padding-top: 2px; */
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
  /* padding-top: 7px; */
  font-size: 15px;
  font-weight: 700;
  color: #888178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  /* font-weight: 100; */
  color: #088178; 
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;

}
@media (max-width:799px){
  
  #product1 .pro-container{
    
    justify-content: center;
 
  }
  #product1 .pro{
   
    margin: 180px;
    width:50%;
  }
}

@media (max-width:477px){
  
  
  #product1 .pro{
   
    margin: 0.5px;
    width:1900%;
   
  }
}

#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
}
#Prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.smaill-img-group{
  display: flex;
  justify-content: space-between;
}
small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#Prodetails{
  display: flex;
  margin-top: 50px;
}
#Prodetails .single-pro-details{
  width:50%;
  padding-top: 30px;
}
#Prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}
#Prodetails .single-pro-details h2{
  font-size: 26px;
}
#Prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#Prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#Prodetails .single-pro-details input:focus{
  outline: none;
}
button{
   background: #088178;
   color: #fff;
}
#Prodetails .single-pro-details span{
  line-height: 25px;
}